:root {
    --Cyan: hsl(179, 62%, 43%);
    --LightBlue: hsl(179, 43%, 56%);
    --Yellow: hsl(71, 73%, 54%);
    --Gray: hsl(204, 43%, 93%);
    --GrayBlue: hsl(218, 22%, 67%);
    --White: hsl(0, 0%, 100%);
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

body, main {
    display: grid;
    background-color: var(--Gray);
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    justify-content: center;
    align-items: center;
}


.container {
    border-radius: 5px;
    overflow: hidden;
    max-width: 60%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas: 
    'one'
    'two'
     'three';
        
}

.join {
    grid-area: one;
}

.sub {
    grid-area: two;
}

.about {
    grid-area: three;
}

.join, .sub, .about {
    padding: 20px;
    
   
}

.join {
    background-color: var(--White);
    line-height: 25px;

}

.join h1 {
    font-size: inherit;
    color: var(--Cyan);
}

.join .day, .join .access {
    font-size: 0.85rem;
}

.join .day {
    color: var(--Yellow);
}

.join .access {
   color: var(--GrayBlue);
   font-size: 0.8rem;
}

.sub {
    background-color: var(--Cyan);
}

.sub h2 {
    color: var(--White);
    font-size: 0.9rem;
    font-weight: 400;
}

.sub span {
    color: var(--White);
    font-size: 1.5rem;
    padding-right: 5px;
}

.sub .day_price {
    color: var(--White);
    font-size: 0.82rem;
}

.sub .monthly_price {
    color: var(--LightBlue);
    font-size: 0.8rem;
}

.btn-container {
    border: 1px solid red;
    display: flex;
    
}

button {
   
    background-color: var(--Yellow);
    color: var(--White);
    font-weight: 700;
    border: none;
    border-radius: 3px;
    font-size: 0.75rem;
    margin: 15px auto 0 auto;
    width: 80%;
    padding: 13px;
    
}

.about {
    background-color: var(--LightBlue);
    color: var(--White);
}   

.about h3 {
    font-size: 0.9rem;
}

.about ul {
    font-size: 0.75rem;
    font-weight: 400;
    list-style: none;
    line-height: 1.5;
    padding: 0;
}



@media (min-width: 750px) {

    main {
        width: 100%;
    }
    .container {
        display: grid;
        max-width: 80%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-areas: 
        'one one'
        'two three';
    }

    .join {
        grid-area: one;
    }

    .sub {
        grid-area: two;
    }

    .about {
        grid-area: three;
    }
}